<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87649087775-l0e1nsqt3tlj6f69lmc4thrv4di40huq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87649087775-l0e1nsqt3tlj6f69lmc4thrv4di40huq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLcL4ZPd12ixaSHeWXD_wA1v06CS4AqDc</string>
	<key>GCM_SENDER_ID</key>
	<string>87649087775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dennis.personal.test</string>
	<key>PROJECT_ID</key>
	<string>xbrowser-3dee9</string>
	<key>STORAGE_BUCKET</key>
	<string>xbrowser-3dee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87649087775:ios:4fadac32a3eca684</string>
	<key>DATABASE_URL</key>
	<string>https://xbrowser-3dee9.firebaseio.com</string>
</dict>
</plist>